<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</head>
<body>
    <div class="mx-auto flex max-w-lg items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
        <div class="w-full max-w-lg">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <h3 class="justify-center m-0.5">Example Usage:</h3>
                <div class="flex items-center justify-between justify-center">
                    <a class="text-decoration-line: underline" href="/api/2015-12-25">/api/2015-12-25</a>
                </div>

                <div class="flex items-center justify-between justify-center">
                    <a class="text-decoration-line: underline" href="/api/1739563565">/api/1739563565</a>
                </div>

                <br />
                <h2 class="m-0.5">Example Output</h2>
                <p class="text-center text-gray-500 text-">
                   <code>{"unix":1739563565000,"utc":"Fri, 14 Feb 2025 20:06:05 GMT"}</code>
                </p>
            </div>

        </div>
    </div>
</body>
</html>